/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    margin-bottom: 35px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    /*ma ligne de code box-shadow: rgba(0, 0, 0.15, 0.1) 0px 3px 15px;*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******Nav/Header********/

nav {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

nav img {
    align-self: center;
}

nav div {
    display: flex;
    gap: 68px;
    padding-left: 50px;
    padding-right: 50px;
    height: 35px;
    
}

nav div a {
    display: flex;
    align-items: end;
}

nav div a:hover {
    color: #0065FC;
    border-top: solid 2px;
}
/*Note pas besoin d'utiliser un text-décoration !!!
Temps perdu: Beaucoup trop
Solution border-top*/



/**Fin**Nav/Header********/

/*****info-section*****/

section.inf h2, p {
    margin-bottom: 0;
    margin-top: 0;
}

section.inf {
    display: flex;
    flex-flow: column nowrap ;
    gap: 35px;
}

.inf-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*****Barre de recherche***********/

.inf-search {
    display: flex;
    height: 49px;
    width: 377px;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
}

.loupe{
    display: none;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: #F2F2F2;
    color: black;
}

/*-webkit-fill-available
The -webkit-fill-available property is a CSS extension
used primarily in WebKit-based browsers like Safari and
Chrome. It specifies that an element should fill the 
available space within its containing block, taking into 
account various layout constraints such as padding and margins.
This property is useful for creating more complex and responsive 
layouts, especially when using flexbox or grid layouts.

However, -webkit-fill-available is not supported in all browsers. 
To ensure cross-browser compatibility, developers often use 
vendor-prefixed properties along with the standard stretch keyword. 
For instance, the following CSS can be used to provide a fallback for 
browsers that do not support -webkit-fill-available:*/

form {
    display: flex;
    width: 87%;/*tester en devtool pour savoir le %*/
}

input#recherche {
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    width: inherit;/*hérite de la value de cette propriété de son parent*/
    /*son étant la balise form avec comme value de width: 80%;
    ce qui permet de ne pas dépasser de la div qui à des dimensions fixe*/
}

input#recherche:active {
    border: none;
}

button.search-btn {
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: solid 1px #0065FC ;
    padding: 15px 16px 15px 16px;
}

span {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

/*******Fin barre de recherche**********/

/****Filtres****/

.filter-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 15px;
    width: fit-content;
}

.filter-bar div {
    display: flex;
}

.filter-bar h4 {
    margin: 0;
    align-self: center;
    /*Enlève les margins du navigateur
    Centre tout les h4 qui sont dans 
    la div filter-bar*/
    text-wrap: nowrap;
    height: 17px;
    line-height: 100%;
}


.filter-bar .firsth4 {
    height: 18px;
    align-items: center;
}



.filter-bar div {
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
}


.filter-bar div:hover {
    background-color: #DEEBFF;
}

.filter-bar .fa-solid::before {
    font-size: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/****Fin Filtres****/



/****info-sub****/

.inf-sub {
    display: flex;
    height: 24px;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.fa-info:before {
    font-size: 10px;
}

.fa-info {
    min-height: 24px;
    min-width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    height: fit-content;
    width: 100%;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 65%;
}

.hebergements h3 {
    margin: 0;
}

.hebergements .hebergements-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
}

/******* Card ***********/

.hebergements-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hebergements-card  a {
    width: 100%;
    height: 100%;
}

.hebergements .card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 124px 1fr;
    padding-bottom: 15px;
    gap: 4px;
    box-sizing: border-box;
}

.hebergements-card img {
    width: 100%;/*permet a l'image de prendre toute la largeur*/
    height: 124px;/*valeur prise sur la maquette a changer pour 
    chaque media querries*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 5px white;
    box-sizing: border-box;
}

.card-content {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-rating {
    min-width: max-content;
}

.hebergements .card-content .card-title {
    line-height: 100%;
}

.hebergements .card-content .card-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}


/***** Fin Card ***********/

.hebergements .lien-h3 {
    width: fit-content;
}

.hebergements .h-problem {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

/****** Fin Hébergement *********/

/****** Populaires ***********/
.populaires {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    height: 100%;
}

.populaires-cards img {
    height: 136px;
    width: 123px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 5px white;
    border-right: 0px;
}

.populaires-cards .card-content {
    width: 246px;
    height: 150px;
    padding: 20px 5px 5px 15px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.populaires-cards .card-title {
    margin: 0;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/*******Activité-Marseille****************/


.activite-marseille {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activite-marseille h2 {
    margin: 0;
}

.activite-marseille .div-act {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.div-act .card-activite {
    background-color: white;
    border-radius: 20px;
    height: 100%;/*Très impotant de mettre 100% comme sa toutes les cards suivent la 
    même hauteur et non l'hauteur en rapport avec leur contenu
    provoque un décalage d'hauteur entre les cards*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    gap: 0;
}

.div-act img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.div-act h3 {
    margin: 0;
    font-weight: 700;
    line-height: 100%;
}

.div-act div {
    padding: 20px 19px 20px 19px;
    width: auto;
    height: auto;
}
   
/****Footer****/

footer {
    background-color: #F2F2F2;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
}

footer div h3 {
    margin: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-card a {
        height: initial;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        width: 100%;
        height: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .populaires-cards .card {
        display: flex;
        flex-direction: row;
        gap: 4px;
        box-sizing: border-box;
    }

    .populaires-cards  img {
        width: 33.33%;
    }

    .populaires-cards .card-content {
        width: auto;
        padding: 10px 5px 5px 15px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .loupe{
        display: none;
    }

    .div-act img {
        height: 200px;
    }

    .filter-bar  {
        display: grid;
        height: 91px;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 50px;
    }

    .firsth4 {
        grid-column: 1/5;
    }
    
    footer {
        gap: 30px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
    /* ... */

    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    section.inf {
        padding: 0px 20px;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;

    }

    nav div  {
        justify-content: space-around;
        padding: 0;
        gap: 15px;
    }

    nav div a {
        width: 100%;
        height: 100%;
        align-items: start;
        justify-content: center;
    }

    nav div a:hover {
        border-top: none;
        border-bottom: solid 2px;
    }

    .inf-search {
        width: 100%;
    }

    .search-btn {
        display: none;
    }

    .loupe {
        display: block;
        height: 100%;
        width: 50px;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        background-color: #0065FC;
        border: none;
        padding: 0;
    }

    .loupe .fa-magnifying-glass {
        color: white;
    }

    form {
        width: 92%;
    }

    .filter-bar { 
        width: 100%;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 50px 50px ;
    }
    
    .firsth4 {
        grid-column: 1/3;
    }

    .inf-sub {
        height: auto;
    }



    .hebergements-and-populaires section {
        background-color: white;
        border-radius: 0px;
        gap: 15px;
        padding: 0;
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;
        background-color: white;
    }


    section.populaires  {
        width: 100%;
        background-color: #F2F2F2;
        gap: 15px;
        padding: 30px 20px;
    }

    .populaires-cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
        height: fit-content;
    }

    section#Hébergements {
        padding: 20px;
    }

    .hebergements-card {
        flex-direction: column;
    }

    .activite-marseille .div-act {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }
}